# Node modules
node_modules/

# Logs
logs/
*.log

# OS files
.DS_Store

# Ignore the root env
.env

# Ignore branch-specific envs only
config/env/development.env
config/env/production.env

# Build output
dist/
build/